/* Your code here */
h1 {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.top {
    border-top: none;
}

.bot {
    border-bottom: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-box button {
    margin: 10px;
}
